{% extends '../base.html' %}
{% load static %}

{% block title %}{{ lesson.title }}{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="row">
        <div class="col-md-8">
            <div class="border-blue m-3 p-5">
                <h1 class="blue-dark-text">{{ lesson.title }}</h1>
                <strong>{{ lesson.postDate }}</strong>
                <p>
                    {% autoescape off %}
                    {{ lesson.content }}
                    {% endautoescape %}
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="border-blue m-3 p-4">
                <h3 class="blue-dark-text">Темы</h3>
                <ul>
                {% for lessonTheme in lessonThemes %}
                    <li><a href="{% url 'lessonDetail' pk=lessonTheme.pk %}" class="link">{{ forloop.counter }}. {{ lessonTheme.title }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% else %}

<section id="lessons" class="border-blue m-3 p-3">
    <div class="container">

        <div class="bg-blue-dark p-5">
            Чтобы получить доступ к курсу войдити по <a href="#" class="author">ссылке</a>
        </div>
        {% endif %}
    </div>
</section>

{% endblock %}