{% extends '../base.html' %}
{% load static %}

{% block title %}О проекте{% endblock %}

{% block content %}
<section id="lessons" class="border-blue m-3 p-3">
    <div class="container">
        {% if user.is_authenticated %}
        <h1 class="blue-dark-text mb-4">Видео контент</h1>
        <div class="table-responsive">
            <table class="table align-middle table-bordered border-dark">
                <tr>
                    <th>№</th>
                    <th>Тема</th>
                    <th>Действие</th>
                </tr>
                {% for video in videos %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ video.lessonName }}</td>
                    <td><a href="{% url 'videoDetails' pk=video.pk %}" class="primary-button d-block text-center">Смотреть</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% else %}
        <div class="bg-blue-dark p-5">
            Чтобы получить доступ к курсу войдити по <a href="#" class="author">ссылке</a>
        </div>
        {% endif %}
    </div>
</section>

{% endblock %}